p {
  font-family: roboto, arial;
  margin: 0px;
}
body {
  margin: 0;
  padding-bottom: 3000px;
  padding-left: 96px;
  padding-right: 24px;
  margin-top: 80px;
  background-color: rgb(249, 249, 249);
}
.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.left-section {
  display: flex;
  align-items: center;
}
.menu-icon {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.youtube-icon {
  height: 24px;
  cursor: pointer;
}
.middle-section {
  flex: 1;
  margin-left: 77px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  border: 1px solid rgb(192, 192, 192);
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.052);
  width: 0;
}
.search-bar::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}
.search-btn {
  height: 40px;
  width: 66px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  background: rgb(242, 242, 242);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
}
.voice-search-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background: rgb(242, 242, 242);
}

.voice-search-icon {
  height: 24px;
}
.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}
.apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
  font-weight: 400px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 50%;
  font-size: 11px;
  font-family: Roboto, arial;
  padding: 2px 5px;
}
.search-btn,
.search-btn,
.voice-search-btn,
.upload-container,
.apps-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-container .tooltip,
.apps-container .tooltip,
.notifications-icon-container .tooltip {
  font-family: roboto, arial;
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  background-color: rgb(165, 164, 164);
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}
.user-picture {
  height: 32px;
  border-radius: 50px;
  cursor: pointer;
}
.thumbnail {
  width: 100%;
  cursor: pointer;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.channel-picture > img {
  width: 36px;
  border-radius: 50px;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  position: absolute;
  bottom: 8px;
  right: 5px;

  background: black;
  color: white;
  border-radius: 2px;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}
.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 77px;
  background: white;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-link:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: Robot, arial;
  font-size: 10px;
}
